# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.*

# Firebase
functions/node_modules/
firebase-debug.log
firebase-debug.*.log
.firebase/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
